# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table of Data Science tools
- Demonstrate basic arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Spyder                  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Yuting Fan